<div class="planet--skeleton">
  <div class="planet--skeleton__top-bar">
    <a class="planet--skeleton__top-bar__back-button" [routerLink]="''">
      <img src="../../../assets/icons/left.png">
      <div>Back to list</div>
    </a>
    <div class="planet--skeleton__name">
    </div>
  </div>
  <div class="planet--skeleton__data">
    <div class="planet--skeleton__data__left">

      <div class="planet--skeleton__property planet--skeleton__property--move-right">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">

        </div>
      </div>

      <div class="planet--skeleton__property">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">

        </div>
      </div>

      <div class="planet--skeleton__property">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">

        </div>
      </div>

      <div class="planet--skeleton__property planet--skeleton__property--move-right">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">
        </div>
      </div>

    </div>
    <div class="planet--skeleton__data__img">
      <div></div>
    </div>
    <div class="planet--skeleton__data__right">

      <div class="planet--skeleton__property planet--skeleton__property--move-left">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">
        </div>
      </div>

      <div class="planet--skeleton__property">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">
        </div>
      </div>

      <div class="planet--skeleton__property">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">
        </div>
      </div>

      <div class="planet--skeleton__property planet--skeleton__property--move-left">
        <div class="planet--skeleton__property__title">

        </div>
        <div class="planet--skeleton__property__value">
        </div>
      </div>
    </div>
  </div>
</div>
