<header class="nav-bar">
  <div class="logo">
    <div class="logo__icon">
      <div class="logo__icon__planet"></div>
      <div class="logo__icon__moon"></div>
    </div>
    <div class="logo__text">PLANETS</div>
  </div>
  <div class="search">
    <mat-input-container>
      <input placeholder="Search" matInput>
    </mat-input-container>
  </div>
</header>

<main class="planet-list">
  <div class="planet-list__content">
    <planet-list-element *ngFor="let planet of planets" [planet]="planet"></planet-list-element>
  </div>
</main>
