<div class="planets-component">
  <header class="nav-bar">
    <div class="logo">
      <div class="logo__icon">
        <div class="logo__icon__planet"></div>
        <div class="logo__icon__moon"></div>
      </div>
      <div class="logo__text">PLANETS</div>
    </div>
    <div class="search">
      <mat-input-container>
        <input placeholder="Search" matInput>
      </mat-input-container>
    </div>
  </header>

  <main class="planet-list">
    <div class="planet-list__center">
      <div class="planet-list__skeletons"
           *ngIf="!planetsResponse || (planetsResponse && planetsResponse.results.length == 0)">
        <planet-list-element-skeleton *ngFor="let skeleton of skeletonsArray"></planet-list-element-skeleton>
      </div>
      <div class="planet-list__content-wrapper" *ngIf="planetsResponse">
        <div class="planet-list__content">
          <planet-list-element *ngFor="let planet of planetsResponse.results" [planet]="planet"></planet-list-element>
        </div>
        <mat-paginator [length]="planetsResponse.count"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       [pageSize]="10"
                       (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </main>
  <footer class="app-footer">
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer>
</div>
