<div class="app-component">
  <header class="nav-bar">
    <a class="logo" [routerLink]="'/'">
      <div class="logo__icon">
        <div class="logo__icon__planet"></div>
        <div class="logo__icon__moon"></div>
      </div>
      <div class="logo__text">PLANETS</div>
    </a>
    <div class="search" *ngIf="showSearch">
      <mat-input-container>
        <input [(ngModel)]="searchQuery" (ngModelChange)="searchChanged()" placeholder="Search" matInput>
      </mat-input-container>
    </div>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="app-footer">
    <div>Icons made by
      <a href="http://www.freepik.com" title="Freepik">Freepik</a>,
      <a href="https://www.flaticon.com/authors/robin-kylander" title="Robin Kylander">Robin Kylander</a>,
      <a href="https://www.flaticon.com/authors/vignesh-oviyan" title="Vignesh Oviyan">Vignesh Oviyan</a>,

      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </footer>
</div>
