<mat-card class="planet--skeleton">
  <mat-card-content class="planet--skeleton__main">
    <div class="planet--skeleton__img"></div>
    <div class="planet--skeleton__data">
      <div class="planet--skeleton__data__name">

      </div>
      <div class="planet--skeleton__data__info">
        <div class="planet--skeleton__data__property">

        </div>
        <div class="planet--skeleton__data__property">

        </div>
        <div class="planet--skeleton__data__property">

        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div></div>
  </mat-card-actions>
</mat-card>

