/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
	box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

app-planets {
  min-height: 100vh;
}

body {
	margin: 0;
	font-family: $font-lato;
  color: $main-font-color;
  background-color: $dark-gray;
}

.snack-bar--error {
  color: $red !important;
  font-weight: 600;
}

.snack-bar--warn {
  color: $orange !important;
  font-weight: 600;
}
